<div id="add_game_owned" class="game-form">
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="true" name="add_owned">
        <input type="hidden" value="" name="add_liked">
        <input type="hidden" value="" name="remove_liked">
        <input type="hidden" value="" name="remove_owned">
        {{ add_game_owned_form.as_p }}
        {{ new_game_form.as_p }}
        <button class="btn btn-primary">Add to your Collection!</button>
    </form>
</div>
<div id="remove_game_owned" class="game-form">
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="" name="remove_liked">
        <input type="hidden" value="true" name="remove_owned">
        <input type="hidden" value="" name="add_owned">
        <input type="hidden" value="" name="add_liked">
        {{ remove_game_owned_form.as_p }}
        <button class="btn btn-primary">Remove Game</button>
    </form>
</div>
