{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">BoredGaming.io</h1>
    <p class="lead">BoredGaming.io is a group finder and matchmaker for table-top gaming, board gaming, and TCGs, both in person and online.</p>
    <p><a href="/about" class="btn btn-success btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card border-dark">
            <h3 class="card-header">Find your group</h3>
            <div class="card-body">
                <p>
                    Online, in person, at your local game store, it doesn't matter. Find people that want to play with you.
                    Schedule meeting times, days, everything...and get an email reminder. (Calendar invites coming soon!)
                    Your character profile has all your contact information!
                </p>
                <a class="btn btn-success" href="/about#group">Learn more &raquo;</a>
            </div>
         </div>
    </div>
    <!-- <div class="col-md-4 col-sm-12">
        <div class="card border-dark">
            <h3 class="card-header">Portable</h3>
            <div class="card-body">
                <p>
                    Take your characters and campaigns everywhere!
                    Playing a D20 game? Use our online character sheet to update and take your character anywhere.
                    PVP game? No problem. Set your sheet to private.
                    Game Master? Keep your NPCs and maps all in one place. 
                </p>
                <a class="btn btn-success" href="#">Learn more &raquo;</a>
            </div>
         </div>
    </div> -->
    <div class="col-md-6 col-sm-12">
       <div class="card border-dark">
            <h3 class="card-header">Community</h3>
            <div class="card-body">
                <p>
                    Had fun playing with someone? Leave feedback on their profile.
                    Let others know what you thought about playing with someone via our rating system.
                </p>
                <br />
                <a class="btn btn-success" href="/about#community">Learn more &raquo;</a>
            </div>
         </div>
    </div>
</div>

{% endblock %}
