<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/font-awesome.css' %}">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>

	<!-- Header -->
		<header id="header">
			<h1 class="title">BoredGaming.io</h1>
			<p class="header-text">
                Find your perfect gaming group or TCG playgroup.<br />
                BoredGaming.io is a matchmaker and group finder for tabletop gaming. <br />
                Suggest an Local Game Store, coffee shop, or bar, meet and play with your new friends.
			</p>
		</header>

	<!-- Signup Form -->
    <div class="form-container">
        {% if error %}
            <div class="email-form-error">Please enter a valid email.</div>
        {% endif %}
		<form id="signup-form" method="post">
            {% csrf_token %}
			<input type="email" name="email" id="email" placeholder="Email Address" />
			<input type="submit" value="Sign Up" />
		</form>
    </div>
	<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
                <li><a href="/about/">Learn more!</li>
				<li><a href="https://twitter.com/alikoneko" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.github.com/alikoneko" class="icon fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="mailto:ali@alineer.com?Subject=Lets%20Talk%20BoredGaming" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                <li><a href="https://www.paypal.me/alikoneko" class="icon fa-paypal"><span class="label">PayPal</span></a></li>
                <li><a href="https://www.patreon.com/bePatron?u=8671490" data-patreon-widget-type="become-patron-button">Become a Patron!</a></li>
                <li><script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#46b798', 'O5O262BI');kofiwidget2.draw();</script></li>
			</ul>
		</footer>

	<!-- Scripts -->
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{% static 'app/scripts/main.js' %}"></script>

</body>
</html>
