{% extends "app/layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card d-flex justify-content-center">
            <h3 class="card-header">Sign Up!</h3>
            <div class="card-body">
                <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
