body {
    background-color: #bdc3c7;
}

.main-content {
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 75vh;
}

.jumbotron > h1,
.card > h3,
.footer-title,
.navbar-brand {
    font-family: 'Roboto Slab', serif;
}

footer {
    bottom: -4em;
    right: 0;
    left: 0;
}

.footer-title {
    color: #fff;
}

.footer-row {
    padding-top: 1em;
}

.space {
    padding-top: 0.5em;
}

.copyright {
    color: #fff;
}

.info-row {
    padding-top: 1em;
}

.title {
    font-family: 'Roboto Slab', serif;
}